{% extends "templates/base.twig" %}

{% block body %}
  {# Embed template #}
  {% embed "templates/section.twig" with {
    section_title: spotlight_section.title,
    section_url: spotlight_section.see_all.url,
    section_link_text: spotlight_section.see_all.link_text,
    modifier_classes: 'page-section--spotlight',
    section_intro: spotlight_section.intro

    
  } %}
    
    {% block section_block %}
    <div class="l-grid l-grid--feature">
      {% for item in spotlight_section.items %}
          {% if loop.first %}
          <div class="l-grid__cell">
            {% include "templates/card.twig" with {
              modifier_classes: 'teaser--feature-major',
              card_image: item.image,
              card_image_alt: item.title,
              card_url: item.url,
              card_title: item.title,
              card_content: item.content,
              card_authors: item.authors

            } %}
          </div>

            {% else %} 
            <div class="l-grid__cell">
             {% include "templates/card.twig" with {
              modifier_classes: 'teaser--feature-minor',
              card_category: item.category,
              card_image: item.image,
              card_image_alt: item.title,
              card_url: item.url,
              card_title: item.title,
              card_content: item.content,
              card_authors: item.authors

            } %}
            </div>
          {% endif %}
      {% endfor %}
    </div>
    {% endblock section_block %}
  {% endembed  %}



    {% embed "templates/section.twig" with {
    section_title: recent_section.title,
    section_url: recent_section.see_all.url,
    section_link_text: recent_section.see_all.link_text,
    section_intro: recent_section.intro
  } %}
    
    {% block section_block %}
    <div class="l-grid l-grid--4up">
      
      {% for item in recent_section.items %}
      <div class="l-grid__cell">
        {% include "templates/card.twig" with {
          card_category: item.category,
          card_image_alt: item.title,
          card_url: item.url,
          card_title: item.title,
          card_content: item.content,
          card_authors: item.authors
         } %}
      </div>
      {% endfor %}
    {% endblock section_block %}

    {% block section_footer %}
      {% include "templates/button-link.twig" with {
        button_link: recent_section.call_to_action.url,
        button_text: recent_section.call_to_action.link_text
      } %}
    {% endblock section_footer %}
  {% endembed  %}
{% endblock body %}
