<section class="page-section page-section--spotlight">
  <div class="l-constrain">
    <header class="page-section__header">
      <h2 class="page-section__title">Title</h2>
      <a href="#" class="page-section__link">See All</a>
    </header>

    <div class="page-section__body">
    </div>
    <footer>
      <a class="button">Subscribe</div>
    </footer>
  </div>
</section>
